@use "../../scss/" as *;

.wishlist-container {
    max-width: 100vw;
    margin: 8rem 0;

    .wrapper {

        .top-items {
            width: 100%;
            margin-bottom: 2rem;

            .movie-typeText {
                font-size: 3rem;
                margin: 3rem;

                @include tablet {
                    margin: 1rem;
                }
            }

        }

        .inner-container {
            min-height: 100vh;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            @include mobile {
                gap: 1rem;
            }

            .no-resultImg {
                width: 40rem;

                @include mobile {
                    width: 25rem;
                }

                .noResult-text {
                    display: block;
                    font-size: 2.5rem;
                    color: $grey;
                    text-align: center;
                }
            }
        }
    }
}