@use '../../scss/' as *;

.swiper {
    .swiper-slide {
        width: 20%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $white;
    }

    .swiper-pagination-bullet {
        background: $white;
    }
}

.cat-slider {
    width: 100vw;
    margin-bottom: 6rem;

    .wrapper {

        .title-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;
        }

        .cat-cardBox {
            position: relative;

            .cat-imgBox {
                height: 33rem;
                position: relative;
                border-radius: 1rem;
                background-size: cover;
                background-position: center;
                aspect-ratio: 1/1.5;

                .lazy-load-image-background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    overflow: hidden;

                    img {
                        border-radius: 1rem;
                    }
                }

            }

            .cat-cardAbout {
                margin: 1.5rem 3rem 0 .5rem;
                color: $white;
                .title{
                    margin-bottom: .5rem;
                    font-size: 1.47rem;
                    font-weight: 600;
                }
                .rel-date{
                    font-weight: 300;
                    margin-right: 2rem;
                }
                .rate{
                    font-weight: 500;
                }

            }

        }
    }
}


    @media(max-width:600px) {
        .swiper {
            .swiper-slide {
                width: 30%;
            }
        }
    }