@use '../../scss/' as *;

.swiper {

    .swiper-button-prev,
    .swiper-button-next {
        color: $white;
        padding: 3rem;
        border-radius: 50%;
        background: $transparent;

        @include mobile {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        background: $white;
    }
}