@use "../../scss/" as *;

.cat-cardBox {
    position: relative;

    .cat-imgBox {
        height: 32rem;
        position: relative;
        border-radius: 1rem;
        background-size: cover;
        background-position: center;
        aspect-ratio: 1/1.5;

        .lazy-load-image-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            overflow: hidden;

            img {
                border-radius: 1rem;
            }
        }

    }

    .cat-cardAbout {
        margin: 1.5rem 3rem 0 .5rem;
        color: $white;
        .movie-title{
            margin-bottom: .5rem;
            font-size: 1.47rem;
            font-weight: 600;
        }
        .rel-date{
            font-weight: 300;
            margin-right: 1.3rem;

        }
        .rate{
            font-weight: 500;
        }

    }

}