
@use "../../scss/" as *;

.navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: $transparent;

    .wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.left-box {
    padding: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    .logo-img {
        width: 4rem;
    }

    .logo {
        font-size: 4rem;
        color: $red;

        .logo-colorWhite {
            padding: .5rem;
            color: $white;
        }
    }

}

.input-box {
    width: 40rem;
    min-height: 3rem;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    position: relative;

    @include mobile {
        position: static;
        margin: 0 1.5rem;
    }

    .fa.fa-search {
        color: $white;
        position: absolute;
        left: 2rem;

        @include mobile  {
            font-size: 2rem;
            left: auto;
            right: 8rem;
        }
    }

    .input-area {
        width: 100%;
        padding: 1.3rem 4.5rem;
        font-size: 1.4rem;
        background: $soft-black;
        border-radius: 4rem;
        color: $white;

        @include mobile  {
            padding: 1.5rem 4.5rem;
            z-index: 10;
            position: absolute;
            width: 95%;
            right: -100%;
            bottom: -1rem;
            background: $soft-black;
            transform: translateY(100%);
            transition: right $transition;
        }
    }

    .input-area::placeholder {
        color: $white;
    }

    .input-area.on {
        @include mobile  {
            right: 1rem;
        }
    }
}


.categories {
    padding: 1rem;
    display: flex;
    align-items: center;

    @include tablet {
        z-index: 10;
        padding: 0;
        background: $soft-black;
        position: absolute;
        right: -100%;
        bottom: 0;
        transform: translateY(100%);
        min-height: 10rem;
        width: 100%;
        flex-direction: column;
        font-size: 1.8rem;
        transition: all 0.5s ease-in-out;
    }

    .cat-type {
        margin-right: 5rem;
        white-space: nowrap;
        a{
            &:hover{
                color: $red;
            }
        }

        @include tablet {
            text-align: center;
            margin: 0;
            padding: 2rem 0;
            width: 100%;
        }
    }
}

.categories.on {
    @include tablet {
        right: 0;
    }
}


.menu-btn {
    background: unset;
    color: $white;
    font-size: 3rem;
    padding: .5rem 1rem;
    margin-left: 1rem;
    display: none;

    @include tablet {
        display: block;
    }
}