.movielist-container{
    max-width: 120rem;
    margin: 0 auto 5rem;
    .search-box{
        display: flex;
        align-items: center;
        justify-content: center;
        .text-area{
            padding: 1rem 2.2rem;
            width: 45rem;
            font-size: 1.6rem;
            font-weight: 500;
            border-radius: 1.8rem 0 0 1.8rem;
        }
        button{
            font-size: 1.4rem;
            border-radius: 0 1.8rem 1.8rem 0;
            padding: .9rem 2rem;
        }

    }
    h4{
        margin: 3rem 5rem;
    }
    .inner-container{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
}
.skeleton-card-box {
    width: 20rem;
    height: 28rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid var(--grey);
    margin: 1rem;
    transition: transform 0.5s;
    z-index: 3;
}