@use "../../scss/" as *;
.pageNotFound {
    height: 70rem;
    padding-top: 20rem;
    .wrapper{
        text-align: center;
        color: $soft-black;
        display: flex;
        flex-direction: column;
        .bigText {
            font-size: 15rem;
            font-weight: 700;
        }
        .smallText {
            font-size: 4.4rem;
        }
    }
}
