$dark-black: #000;
$black1:#111;
$black2:#222;
$soft-black: #444;
$transparent:rgba(0,0,0,0.5);
$white: #fff;
$red: #ff0000;
$dark-red: #e40404;
$grey: #ccc;
$yellow: #f3ef06;
$transition: 0.4s ease-in-out;